<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Central - Home</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <%- include('../partials/sell-header') %>

    <main>
      <section id="product_creation">
        <div class="top">
          <button class="active" data-target="1">Vital Info</button>
          <button data-target="2">Description</button>
          <button data-target="3">Images</button>
          <button data-target="4">Details</button>
        </div>
        <div class="bottom">
          <form action="/admin/product/add" method="POST" enctype="multipart/form-data">
            <div class="vitalinfo product_box" style="display: block;">
              <div class="twin">
                <div class="left">
                  Product Name:
                </div>
                <div class="right">
                  <input type="text" name="title" placeholder="e.g. Koshigo Makhana 250g" value="<%= product.title %>">
                </div>
              </div>
              <div class="twin">
                <div class="left">
                  M.R.P.:
                </div>
                <div class="right">
                  <input type="text" name="mrp" placeholder="e.g. 499.00" value="<%= product.mrp %>">
                </div>
              </div>
              <div class="twin">
                <div class="left">
                  Price:
                </div>
                <div class="right">
                  <input type="text" name="price" placeholder="e.g. 349.00" value="<%= product.price %>">
                </div>
              </div>
              <div class="twin">
                <div class="left">
                  Size:
                </div>
                <div class="right">
                  <input type="text" name="size" placeholder="e.g. 200g / 2kg" value="<%= product.size %>">
                </div>
              </div>
              <div class="twin">
                <div class="left">
                  Best Before:
                </div>
                <div class="right">
                  <input type="date" name="bestbefore" placeholder="e.g. 2021-06-22" value="<%= product.bestbefore %>">
                </div>
              </div>
            </div>

            <div class="description product_box">
              <div class="twin">
                <div class="left txtarea">
                  Description:
                </div>
                <div class="right">
                  <textarea name="description" rows="10" value="<%= product.description %>"></textarea>
                </div>
              </div>
              <div class="twin add_more">
                <div class="left">
                  Bullet Points:
                </div>
                <div class="right">
                  <input type="text" name="bulletpoint" value="<%= product.bulletpoint %>">
                </div>
                <div class="btn">
                  <button type="button">Add More</button>
                </div>
              </div>

              <script>
                const addMoreBtn = document.querySelector("#product_creation > div.bottom > form > div.description.product_box > div.twin.add_more > div.btn > button")

                const mainArea = document.querySelector("#product_creation > div.bottom > form > div.description.product_box > div.twin.add_more > div.btn")

                addMoreBtn.addEventListener('click', () => {

                  addMoreBtn.style.display = 'grid'
                  addMoreBtn.style.marginLeft = 'auto'

                  const input = document.createElement('input')
                  input.style.marginBottom = '18px'
                  const br = document.createElement('br')
                  input.setAttribute('type', 'text')
                  input.setAttribute('name', 'bulletpoint')

                  mainArea.prepend(input)
                  mainArea.classList.add('multi')

                })
              </script>

              <div class="twin">
                <div class="left">
                  Search Terms:
                </div>
                <div class="right">
                  <input type="text" name="searchterm" placeholder="e.g. makhana, foxnuts"
                    value="<%= product.searchterm %>">
                </div>
              </div>
            </div>

            <div class="images product_box" style="display: none">
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="image">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>
              <div class="file_uploaders">
                <div class="file">
                  <span>Change</span>
                  <img>
                  <svg viewBox="0 0 640 512">
                    <path
                      d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" />
                  </svg>
                  <input type="file" name="photo">
                </div>
              </div>

              <script>

                const productFileWrapper = document.querySelectorAll("#product_creation > div.bottom > form > div.images.product_box div.file_uploaders > div.file")
                const productPictureInput = document.querySelectorAll("#product_creation > div.bottom > form > div.images.product_box > div.file_uploaders > div.file > input[type=file]")
                const productImg = document.querySelectorAll("#product_creation > div.bottom > form > div.images.product_box > div.file_uploaders > div.file > img")

                for (let i = 0; i < productFileWrapper.length; i++) {
                  const element = productFileWrapper[i];

                  element.addEventListener('click', function () {
                    productPictureInput[i].click()
                  })

                  productPictureInput[i].addEventListener('change', function () {
                    const file = this.files[0]
                    if (file) {
                      const reader = new FileReader()
                      reader.onload = function () {
                        const result = reader.result
                        productImg[i].setAttribute('src', result)
                        productFileWrapper[i].classList.add('data')
                      }
                      reader.readAsDataURL(file)
                    }
                  })
                }
              </script>
            </div>

            <div class="details product_box">
              <div class="twin">
                <div class="left">
                  Dimensions:
                </div>
                <div class="right">
                  <div class="btn multi">
                    <label for="">Length</label>
                    <input type="text" name="length" placeholder="e.g. 27" value="<%= product.length %>">
                    <br><label for="">Breadth</label>
                    <input type="text" name="breadth" placeholder="e.g. 17" value="<%= product.breadth %>">
                    <br><label for="">Height</label>
                    <input type="text" name="height" placeholder="e.g. 5.4" value="<%= product.height %>">
                    <br><label for="">Type</label>
                    <select name="dimensiontype" value="<%= product.dimensiontype %>">
                      <option value="cm">cm</option>
                      <option value="inches">inches</option>
                      <option value="m">m</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="twin">
                <div class="left">
                  Net Quantity:
                </div>
                <div class="right">
                  <input type="tel" name="netqty" placeholder="e.g. 200.0" value="<%= product.netqty %>">
                  <div class="btn">
                    <select name="qtytype" value="<%= product.qtytype %>">
                      <option value="gram">gram</option>
                      <option value="kilogram">kilogram</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="twin">
                <div class="left">
                  FSSAI Lic. no.:
                </div>
                <div class="right">
                  <input type="text" name="fssai" placeholder="e.g. 101489102785" value="<%= product.fssai %>">
                </div>
              </div>
            </div>
            <div class="sub_btn">
              <button type="button">Cancel</button>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <script>
      const navBtns = document.querySelectorAll("#product_creation > div.top > button")
      const fillArea = document.querySelectorAll("#product_creation > div.bottom > form > div.product_box")
      for (let i = 0; i < navBtns.length; i++) {

        const element = navBtns[i];
        element.addEventListener('click', (e) => {
          const clickedBtn = i

          for (let a = 0; a < fillArea.length; a++) {
            const elementa = fillArea[a];
            elementa.style.display = 'none'

            if (clickedBtn === 2) {
              fillArea[clickedBtn].style.display = 'flex'
            } else {
              fillArea[clickedBtn].style.display = 'block'
            }
          }

          for (let b = 0; b < navBtns.length; b++) {
            const elementb = navBtns[b];
            elementb.classList.remove('active')
            navBtns[clickedBtn].classList.add('active')
          }
        })

      }
    </script>